* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    height: 100%;
    width: 15%;
    margin-left: 200px;
}

.navbar ul {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

.navbar li {
    font-size: 1.5rem;
    font-weight: 500;

    width: fit-content;
    margin: 10px 0;
    cursor: pointer;
    transform-origin: 0%;
}

.navbar .banner {
    padding: 3px;

    background-color: #272727;
    color: #FFFFFF;

    font-size: 1.3rem;
    font-weight: 300;

    cursor: pointer;
}

.navbar .banner.bottom {
    margin-top: auto;
}

.box {
    width: calc(33.333% - 20px); /* 3 items per row with gap */
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.box .title {
    margin-top: 50%;
    font-size: 1.5rem;
}

.box .subheading {
    font-size: 1rem;
    font-weight: 400;
}

.rect-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 15rem;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    background-color: white;

    padding: 20px;
}

.rect-box .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 100%;
    width: 60%;

    text-align: left;
}

.rect-box .org {
    margin-top: 0;
    font-weight: 500;
}

.rect-box .date {
    margin-top  : auto;
    font-weight: 500;
}

.rect-box .logo {
    height: 200px;
    width: 200px;
    background-color: aqua;
    flex-shrink: 0;
}